<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
    <!-- CDN header linkfor bootstrap -->
    <%- include("./partials/head")  %>
    <!-- CDN link for css of quill editor -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
     <!-- CDN script for sweetalert2 -->
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <!-- CDN script for text editor quill -->
     <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
     <!-- CDN script for bootstrap -->
     <%- include("./partials/script") %>
    <style>
        body{
            background: #393e51;  
            color: rgb(149, 146, 146);
        }
        .form-control::placeholder {
            color: grey !important;
        }

        /*Editors styling Start here*/
        #editor {
        height: 400px; /* Change this value as needed */
        /* border: 1px solid black; */
        }
        .ql-container {
        min-height: 400px; /* Ensures the editor body is tall */
        /* border: 1px solid black; */
        }
        .ql-editor { 
        font-family: "Arial", sans-serif;
        font-size: 18px;
        color: #ffffff;  /* Text color */
        background: #1e1e1e; /* Dark mode */
        padding: 15px; /* Add spacing inside */
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        }
        .ql-toolbar button{
        font-size: 16px;  /* Increase icon size */
        color: #ffffff;  /* Change color */
        }
        .ql-toolbar button:hover {
        color: #ff914d; /* Change hover color */
        }
        .ql-toolbar {
        border: none;
        background: #808592;
        }
        .ql-editor ::selection {
        background: #ff914d;
        color: #fff;
        }
        .ql-editor:focus {
        outline: none;
        }
        /*Editors styling Ends here*/

    </style>
   


</head>
<body>
    <!-- start navbar component of bootstrap -->
    <%- include("./partials/navbar") %>
    <!-- end navbar component of bootstrap -->

    <!-- start main container -->
    <div class="container">
        <div style="margin: 20px;;" >
            <h3>Create your Blog and share to the World !</h3>
        </div>
        <div style="margin: 20px;;" class="mb-3">
            <input type="text" class="form-control bg-dark text-white p-3" id="title" placeholder="Enter the Title">
        </div>
        <div style="margin: 20px;;" class="form-floating" data-bs-theme="dark">
            <div id="editor">
                <p>Write your Blog here...</p>
            </div>
            <div style="display:flex; justify-content: center; margin-top: 10px;" >
                <button id="btn" type="button" class="btn btn-warning">Post your blog</button>
            </div>
        </div>
    </div>
    <!-- end main container -->

    <script>
        // Initialize Quill editor start here
        const quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
        toolbar: [
            [{ 'color': [] }, { 'background': [] }], // Enable text & background color
            ['bold', 'italic', 'underline'],  // Other basic text styles
            [{ 'header': [1, 2, false] }],    // Header options
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            ['clean']  // Remove formatting
        ]
        }
        });
        // Initialize Quill editor ends here


        // HANDLING CLICK FOR UPLOAD BLOG
        document.querySelector("#btn").addEventListener("click",()=>{
            const title = document.querySelector("#title").value.trim();
            // const text  = quill.getText();
            const text = quill.root.innerHTML.trim();
            // console.log("text = ",text);
            if(title == '' || text == '' || text=="<p>Write your Blog here...</p>"){
                return Swal.fire({
                  title: 'warning!',
                  text: 'Title or Text is missing',
                  icon: 'warning',
                  confirmButtonText: 'got it'
                })     
            }
            else{
                let blog = {
                    title : title,
                    text : text
                }
                fetch("/user/blog/createBlog",{
                    method:"POST",
                    headers:{
                        "Content-Type":"application/json"
                    },
                    body:JSON.stringify(blog)
                })
                .then(res=>{
                    // although if server respont with status code 400/500 res will not go directly into catch block
                    // that why checking like this below 
                    if(!res.ok){    
                        throw new Error("error")
                    }
                    return res.json()
                })
                .then(res=>{
                    Swal.fire({
                      title: `${res.message}`,
                      icon: "success",
                      draggable: true
                    });
                    document.querySelector("#title").value = '';  
                    quill.setText(''); // emptying the quill editor
                    return;
                })
                .catch(err=>{
                    console.log(err);
                    return Swal.fire({
                      title: "Error in Uploading Blog",
                      text: `something went wrong`,
                      icon: "error"
                    });
                    
                })
            }   
        })
    </script>
</body>
</html>