<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <%- include("./partials/head")  %>
    <style>
       /* SCROLLING FEATURE */
        .container {
            overflow-y: auto;  /* Enables vertical scrolling */
            overflow-x: hidden; /* Hides horizontal scrolling */
            scrollbar-width: none;  /* Firefox: Hides scrollbar */
            -ms-overflow-style: none; /* IE and Edge: Hides scrollbar */
        }
        
        /* WebKit Browsers (Chrome, Edge, Safari) */
        .container::-webkit-scrollbar {
            display: none; /* Hides scrollbar */
        }
        
        /* CONTAINER DIV */
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    /* < SCROLLING FEATURE ENDS HERE > */

        
        /* navbar */
        .navbar{
            position: sticky;
            width: 100%;
            top: 0;
        }

        /*h5 is for author name*/
        h5{
            color:#f8e7a2;
             padding-right:10px;
        }
        /* blog header container */
        .blogHeaderContainer{
            border-bottom:2px solid #4b4b4b;
            color:#ffb866;
            display:flex;
            justify-content:space-between;
            align-items:center;
            /* position: sticky;
            top:20px; */
        }
        /* blog text container */
        .blogContentContainer{
            padding:20px;
            color:#d1d1d1;
            max-height: 20rem;
            overflow: hidden;
        }
        .blogContentContainerSeemore{
            padding:20px;
            color:#d1d1d1;
        }
        /* blog footer container */
        .blogFooterContainer{
            display:flex;
            gap:15px;
            padding:20px;
        }
        /* blog parent ontainer */
        .blogParentContainer{ 
            margin:20px; 
            margin-top:10px;
            display:flex; 
            flex-direction:column; 
            padding:10px; 
            background: #1f2229;
            border-radius:4px;
        }
        /*INPUT FIELD*/
        input{
            width:100%;
            border:none; 
            padding:10px;
            margin: 5px;
            border-bottom:0.5px solid rgb(49, 49, 49);
            background-color:#1b1b1b; 
            color:white;
        }
        input:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        box-shadow: none;
        }
        /*FATHER DIV of INPUT FIELD*/
        .comment{
            display: none;
            padding: 20px;
        }
        /*comment and seemore button */
        .btn{
        background-color: rgb(7, 203, 92);
        color: #0a0534;
        }
        .btn:hover{
        background-color: rgb(96, 96, 201);
        }
          /*comment section div / for cach comment START*/
        .commentParentContainer{
            display: flex;
            flex-direction: column;
            margin: 20px;
        }
        .commentCreator,.dateAndTime{
            color:#555;
            font-size: 0.7rem;
        }
        .commentHeader{
            display: flex;
            gap: 5px;
        }
         /*comment section div / for cach comment ENDS*/
        
        
        body{
            background: #393e51;
            color: white;
        }
        /*NO BLOG IF NO BLOG PRESENT*/
        .noBlog{
            display: none;
            text-align: center;
            margin-top:10% ;
        }

        /*SETTING DELETE ICON*/
        .deleteIcon{
            width: 2px;
        }
        .deleteImage{
            width: 25px;
        }
        .deleteImage:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        .commentBody{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <%- include("./partials/navbar") %>

        <div class="noBlog">
            <h1>There are zero Blogs !!</h1>
        </div>
        <div class="container"> </div>
    <%- include("./partials/script") %>

    <script>
            const user = <%- JSON.stringify(user) %>; 
            // console.log("user =", user);

            // FETCHING ALL BLOGS AND CREATING BOX FOR THIS  <START>
            fetch("/user/blog/allBlogs")
            .then(res=>res.json())
            .then(blogs=>{
                if(blogs.blogs.length == 0){
                    document.querySelector(".noBlog").style = "display:block;"
                }
                blogs.blogs.forEach(blog=>{
                    createBlogDiv(blog);
                })
            })

            // creating div for each blog
            function createBlogDiv(blog){ 
            // console.log(blog);
            let div1 = document.createElement("div"); // header of blog
            div1.className = "blogHeaderContainer"
            let div2 = document.createElement("div"); // text of blog
            div2.className = "blogContentContainer";
            let div3 = document.createElement("div"); // footer of blog
            div3.className = "blogFooterContainer";
            let div4 = document.createElement("div"); // blog parent container
            div4.className = "blogParentContainer";
            

            let h1  =  document.createElement("h1"); // for titile of blog
            let h5  =  document.createElement("h5"); // for author name

            // h5.style = "color:rgb(199, 205, 17); padding-right:10px;"
            h1.innerHTML = blog.title;
            h5.innerHTML = `By ${blog.authorName}`
            div1.append(h1,h5);

            let p = document.createElement("p");
            p.innerHTML = blog.text;
            div2.append(p);

            let button1 = document.createElement("button");
            button1.setAttribute("class", "btn");
            button1.innerHTML = "Comments";

            let button2 = document.createElement("button");
            button2.setAttribute("class", "btn");
            button2.innerHTML = "see more";
            
            div3.append(button1);
            div4.append(div1);
            div4.append(div2);
            div4.append(div3);
            document.querySelector(".container").appendChild(div4);

            // HANDLING SEE MORE BUTTON CLICK
            button2.addEventListener("click",()=>{
                button2.textContent = button2.textContent === "see more" ? "see less" : "see more";
                if( button2.textContent == "see more"){
                div2.className = "blogContentContainer"
                }
                else{
                div2.className = "blogContentContainerSeemore"
                }
            })
            // if div2 is overflown then only display the see more button
            if(isOverflown(div2)){
                div3.append(button2);   
            }

            
            let div5 = document.createElement("div"); // for displaying all comments this is the father div
            div5.className = "comment";
            const input = document.createElement("input"); // for taking comments from user
            input.setAttribute("type","text");
            input.setAttribute("name","comment");

            // HANDLING ON ENTER CLICK IN INPUT
            input.addEventListener("keypress",(e)=>{
                // console.log("user = ",user);
                if(e.key == "Enter"){ // login of commnet going to db and displayed
                    let comment = {
                        name : user.name,
                        comment : e.target.value.trim(),
                        blog_id: blog._id,
                        createdAt:getDateandTime(),
                        user_id : user._id
                    }
                    fetch("/user/blog/addComment",{
                        method:"POST",
                        headers:{
                            "Content-Type":"application/json"
                        },
                        body: JSON.stringify(comment)
                    })
                    .then(res=>res.json())
                    .then(res=>{
                        createCommentDiv(res.cmt);
                    })
                }
            })
            input.setAttribute("placeholder","write your comment");
            div5.append(input);

            // HANDLING COMMENTS that will come from DB
            fetch(`/user/blog/getComments/?id=${blog._id}`)
            .then(res=>res.json())
            .then(comments=>{
                // console.log("x",comments);
                // working pending sort the comments on the order of latest first
                comments.comments.forEach(cmt=>{
                createCommentDiv(cmt);
                })
                div4.appendChild(div5);
            })

            // creating div form each COMMENT
            function createCommentDiv(cmt){
                let div = document.createElement("div");
                div.className = "commentParentContainer";
                let div2 = document.createElement("div");
                div2.className = "commentHeader"
                let div3 = document.createElement("div");
                div3.className = "commentBody"

                let span1 = document.createElement("span");
                span1.className = "commentCreator";
                let span2 = document.createElement("span");
                span2.className = "commentText";
                let span3 = document.createElement("span");
                span3.className = "dateAndTime";
             
                let span4 = document.createElement("span");

                // limiting delete button for current user 
                if(cmt.user_id == user._id){
                span4.className = "deleteIcon";
                var img = document.createElement("img");
                img.className = "deleteImage"
                img.setAttribute("src","https://img.icons8.com/?size=100&id=KtLdJpNivpcV&format=png&color=000000");

                // setting delete button behavior
                img.addEventListener("click",(e)=>{
                deleteComment(cmt._id);
                div.remove();
                })
                span4.append(img);
                }

                span3.innerHTML = cmt.createdAt;
                span1.innerHTML = cmt.name;            
                span2.innerHTML = cmt.comment;

                div3.append(span2,span4);
                div2.append(span1,span3)
                div.append(div2, div3);
                div5.append(div);
            }

           
            // handling click event on comments button
            button1.addEventListener("click",async ()=>{
                button1.textContent = button1.textContent === "Comments" ? "Hide Comments" : "Comments";
                if( button1.textContent == "Hide Comments"){
                    div5.style = "display:block;"
                }
                else{
                   div5.style = "display:none;"
                }
            })

           

        }
        // FETCHING ALL BLOGS AND CREATING BOX FOR THIS  <END>

        // function for checking is div is over flown or not 
        function isOverflown(element){
            return element.scrollHeight > element.clientHeight || element.scrollWidth > element.clientWidth;
        }    

        // function for gettting date and time in dd/mm/yy hh:mm format
        function getDateandTime(){
        const date = new Date();
        const formattedDate = date.toLocaleString("en-GB", {
          day: "2-digit",
          month: "2-digit",
          year: "2-digit",
          hour: "2-digit",
          minute: "2-digit",
          hour12: false,
        });
        return(formattedDate.replace(",", ""));
        }

        // Function for deleting comment from DB
        async function deleteComment(id){
            let obj = {id:id};
            fetch("/user/blog/deleteComment",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify(obj)
            })
        }
        
    </script>
</body>
</html>