<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/head") %>
    <style>
       body{
        background-color:rgb(31, 31, 33) ;
        color: rgb(222, 222, 222);
       }
    </style>
</head>
<body>
    <%- include("./partials/loginForm") %>
    
    <%- include("./partials/script") %>
</body>
</html>