<div style="width: 30%; margin: auto; display: flex; flex-direction: column; justify-content: center; align-items: center; border:1px solid rgb(24, 61, 117); margin-top: 5%; padding: 2rem; border-radius: 1rem;" >
    <h1 style="padding-bottom: 2rem;" >Signup</h1>
<form method="post"  action="/user/signup">
    <div class="input-text mb-3">
        <input type="text" class="form-control" placeholder="Full Name" name="name" aria-label="fullname" aria-describedby="inputGroup-sizing-default" required >
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
    </div>
    <div style="display: flex; justify-content: center;" >
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</form>
</div>